body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(236, 244, 237);
}

header {
  background-color: #666264;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.hero {
  background-image: url('images/dc.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: #ffffff;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
  z-index: 1;
}

header,
.services h2,
.hero h2,
.hero p,
.hero .btn {
  position: relative;
  z-index: 2;
}


.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hero .btn {
  background-color: #009929;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero .btn:hover {
  background-color: #006414;
}

.services {
  padding: 40px 0;
  text-align: center;
}

.services h2 {
  padding-bottom: 30px;
  margin-top: -2px;
  color: #ffffff;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services li {
  display: inline-block;
  margin: 0 20px;
}

.benefits {
  background-color: #f0f0f0;
  padding: 40px 0;
}

.benefits h2 {
  text-align: center;
  margin-bottom: 20px;
}

.benefits ul {
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.benefits li {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
}

.contact {
  padding: 40px 0;
  background-color: #fff;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact label {
  display: block;
  margin-bottom: 5px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #969595;
  margin-bottom: 15px;
  border-radius: 5px;
}

.contact textarea {
  height: 150px;
}

.contact button {
  background-color: #009929;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact button:hover {
  background-color: #006414;
}

.map {
  padding: 40px 0;
  text-align: center;
}

.map iframe {
  width: 80%;
  max-width: 600px;
  height: 450px;
  border: 0;
}

footer {
  background-color: #666264;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
