body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 32px;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

section{
  width: 100%;
}

.hero {
  background-size: cover;
  background-position: center;
  padding: 80px;
  text-align: center;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.hero h2 {
  margin-bottom: 20px;
  text-align: left;
}

.hero .texto{
  width: 100%;
  padding-left: 40px;
}

.hero p {
  font-size: 16px;
  margin: 24px auto;
  width: 100%;
  text-align: left;
}

.hero .btn {
  background-color: #0B55EC;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  transition: background-color 0.3s;
  border-radius: 25px;
  font-weight: 600;
}

.hero .btn:hover {
  background-color: #0056b3;
}

.hero .imagem img{
  width: 86%;
  border-radius: 21px;
}

.services {
  padding: 40px 0;
  text-align: center;
  background-color: #898888;
  border-radius: 25px;
  width: 95%;
  margin: 16px 0px;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services li {
  display: inline-block;
  margin: 0 20px;
}

.services li:hover {
  font-size: 17px;
  transition: 0.5s;
  cursor: pointer;
}

.benefits {
  background-color: #f0f0f0;
  padding: 60px 0;
}

.benefits h2 {
  text-align: center;
  margin-bottom: 20px;
}

.benefits ul {
  list-style: none;
  padding: 0;
  margin: 0 40px;
}

.benefits li {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px; 
}

.benefits li:hover{
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #a8a8a8;
}

.contact {
  padding: 40px 0;
  background-color: #fff;
}

.contact h2{
  text-align: center;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
  font-weight: 600;
}

.contact label {
  display: block;
  margin-bottom: 5px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 5px;
}

.contact textarea {
  height: 150px;
}

.butt{
  width: 103%;
  display: flex;
  justify-content: flex-end;
}

.contact button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
  font-weight: 600;
  
}

.contact button:hover {
  background-color: #0056b3;
}

.map {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map iframe {
  width: 93%;
  height: 450px;
  border: 0;
  border-radius: 25px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
